.body {
  margin: 0;
  padding: 0;
  background-color: rgb(59, 22, 61);
}

.heading {
  text-align: center;
}

.createMain {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "overview overview selector selector"
    "preContainer preContainer selector selector";
  height: 50rem;
}

.overviewContainer {
  grid-area: overview;
  position: relative;
  height: 50%;
  width: 100%;
}

.preContainer {
  grid-area: preContainer;
  position: relative;
  height: 50%;
  width: 100%;
}

.selectorMenu {
  grid-area: selector;
  position: relative;
  height: 50%;
  width: 100%;
}
