.body {
  background-color: rgb(59, 22, 61);
}

.heading {
  text-align: center;
}

.createMain {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  height: 50rem;
}

.overviewContainer {
  position: relative;
  height: 50%;
  width: 30%;
}

.selectorMenu {
  position: relative;
  height: 50%;
  width: 30%;
}
