.selectorMenu {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: red;
}

.categoryNavMenu {
  display: grid;
  grid-template-columns: auto auto;
  height: 15%;
  width: 100%;
  background-color: green;
}

.categoryNavMenuItem {
  width: 100%;
  text-align: center;
  background-color: purple;
}

.ingredientMenu {
  background-color: blue;
}
